@import "../../../../scss/_variables.scss";

@media screen and (max-width: $ipad) {
  .zoom-in-card {
    min-height: 300px;
    height: auto;
    cursor: pointer;
    width:100%:
    transform: scale(0.9);
    background-size: 100% !important;
    border-radius: 8px;
    transition: .3s all ease-in-out;
      
}


@media screen and (max-width: $mobile){
    
    }