@import "../../../../scss/animation";
$columns: 3;
$marginLeft: 20px;

.category__section {
  opacity: 0;

  .container {
    > div {
      width: calc(calc(100% / $columns) - $marginLeft);
      margin-left: $marginLeft;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}

.category__section.animated {
  animation-name: fadeInUp;
}
