.footer {
    margin: 2rem 0;
}

.footer-wrapper {
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        padding: 0;
        gap: 20px;
    }
    li {
        margin-top: 2rem;
        // margin: 2rem;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.contact-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.social-icon-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
        padding: 0.2rem;
    }
}

.highlight {
    color: red;
}
