@import "../../../../scss/variables.scss";
@import "../../../../scss/animation";

@media screen and (max-width: $laptop) {
  .text-black {
    font-size: 16px !important;
  }
  .deal__section {
    .container > div {
      width: 0%;
      margin: 0px;
    }
  }

  .text-wrapper {
    display: relative !important;
    width: 100% !important;
    gap: 0 !important;

    > h2 {
      background: rgba(255, 255, 255, 0.8);
      width: fit-content;
      margin: 0 auto;
      padding: 8px;
      border-radius: 8px;
    }
    .section-title {
      position: relative;
      margin-bottom: 3rem;
    }
    .timer-wrapper {
      margin-bottom: 3rem;
    }
  }
}
