@import "../../../../scss/variables.scss";
@import "../../../../scss/animation";



@media screen and (max-width: $ipad){

.image-wrapper{
  display: absolute !important;
  width:0%;
}

.text-wrapper{
  display: absolute !important;
  width:100%;
  > h2 {
    background: rgb(255,255,255,0.8);
  }
}
}
