.main {
  > div {
    height: 100%;
    gap: 15px;
    > h1 {
      font-size: 72px;
    }
    > p,
    h1 {
      width: 50%;
      word-break: break-word;
    }
    button {
      width: 140px;
    }
  }
  margin-top: 88px;
  background-size: cover;
  width: 100%;
  video {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

@media (-webkit-video-playable-inline) {
  video {
    display: initial;
  }
}
