@import "../../../../../scss/variables";
$columns: 3;
$marginLeft: 20px;
$truncate-lines: 5;
.feedback-card {
  .star-wrapper {
    .star {
      margin-left: 4px;
    }
    .active-star {
      color: $main-color;
    }
  }
  width: calc(calc(100% / $columns) - $marginLeft);
  margin-left: $marginLeft;
  border: 1px solid #efefef;
  border-radius: 8px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 7px 0px;
  padding: 48px 72px;
  display: flex;
  flex-direction: column;
  blockquote {
    -webkit-line-clamp: $truncate-lines;

    line-height: 1.5;
    margin: 0;

    &::before {
      font-family: "Gelasio", serif;
      font-style: italic;
      font-style: bold;
      content: "\201c";
      font-size: 100px;
      display: block;
      margin-bottom: -70px;
      margin-top: -30px;
      margin-left: -20px;
    }
  }
  .avatar-wrapper {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .user-information-wrapper {
    .user-job-title {
      color: $sliver;
      font-size: 14px;
    }
  }
}
