@import "../../../../../scss/variables.scss";
@import "../../../../../scss/animation.scss";

.authenticated-dropdown {
  display:none;
  position: absolute;
  border: 1px solid $main-color;
  background-color: white;;
  border-radius: 0.2rem;
}

.show-register-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  > *{
    margin:0.5rem;
  }
}