@import "./scss/reset";
@import "./scss/animation";
@import "./scss/variables";

Html,
body {
  max-width: 100%;
  // overflow-x: hidden;
}

html,
body,
#root,
#root > div {
  height: 100%;
}


.main-btn {
  color: #fff;
  background: $main-color;
  transition: all 0.5s;
  min-width: 140px;
  &:hover {
    color: #fff;
    background: #f9ae3f;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem transparent;
  }
}

.truncate {
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .rec-arrow {
//   &:hover,
//   &:focus {
//     background-color: $main-color !important;
//   }
// }
// .rec-arrow:disabled {
//   &:hover {
//     background-color: transparent !important;
//   }
// }
// .rec-dot {
//   &:focus,
//   &:hover {
//     box-shadow: 0 0 1px 3px rgba(250, 171, 68, 0.651) !important;
//   }
//   &_active {
//     background-color: $main-color !important;
//     box-shadow: 0 0 1px 3px transparent;
//     &:focus {
//       box-shadow: 0 0 1px 3px transparent;
//     }
//   }
//   &:visited {
//     box-shadow: 0 0 1px 3px rgba(250, 171, 68, 0.651) !important;
//   }
// }

.rec-dot_active {
  background-color: $main-color !important;
  box-shadow: 0 0 1px 3px $main-color !important;
}
.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px $main-color !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: $main-color !important;
  box-shadow: 0 0 1px 3px $main-color !important;
}

.rec-arrow {
  background-color: $main-color !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: white !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  min-width: 2.5rem !important;
  line-height: 2.5rem !important;
}

.rec-arrow:disabled {
  background-color: $sliver !important;
}

.rec-item-wrapper {
  height: 100%;
}

.mapboxgl-popup-content {
  padding: 16px;
  border-radius: 4px;
  .mapboxgl-popup-close-button {
    font-size: 18px;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background-color: $main-color;
    }
  }
}

.disabled-page {
  pointer-events: none;
  opacity: 0.7;
}
